

body {
   text-align: center;
    margin: 0 auto;
    background-color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  
    width: 599px;
}
img {

    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}